<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Calculator.Properties.Settings>
            <setting name="ButtonFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14pt</value>
            </setting>
            <setting name="ButtonTextColour" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="ButtonBackColour" serializeAs="String">
                <value>ButtonFace</value>
            </setting>
            <setting name="OperatorTextColour" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="OperatorBackColour" serializeAs="String">
                <value>AppWorkspace</value>
            </setting>
            <setting name="AnswerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 14pt</value>
            </setting>
            <setting name="AnswerTextColour" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="AnswerBackColour" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="BagroundColour" serializeAs="String">
                <value>ActiveCaption</value>
            </setting>
        </Calculator.Properties.Settings>
    </userSettings>
</configuration>